/* CSS Document */

/* Multiple Divs can belong to one class /one class , Only one Id can belong to one div */
.container{
    display: flex;
    flex-direction: column;


}
table,th,td{
    background-color: #f4f0f0 ;
    border: 0px solid black;
    border-collapse: collapse;
    padding: 20px
  
}

body{
    background-color: whitesmoke;
    color: rgb(31, 33, 33)
}

.Gallery{

}

thead{
    text-align: center;
    vertical-align: middle;
}


@media (orientation: portrait){
    body{
        background-color: lightgrey;
        color: grey;
    }

    .MyName{
        color: whitesmoke;
    }


}

/* PHONE VERSION */
@media only screen and

(min-width: 320px) {

h1{color:blue;}
}
/* TABLET VERSION */
@media only screen and

(min-width: 768px) {

h1:{color:green;}
}
/* DESKTOP VERSION */
@media only screen and

(min-width: 980px) {

h1 {color:rgb(72, 183, 185);}

}